body{
    background-color: black;
    font-style: normal; color: beige;
}

p{
    font-size: 1em;
    /*font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    font-family: 'Encode Sans Semi Expanded', sans-serif;
}


h5{
    font-size: 1.5em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}
h4{
    font-size: 1.3em;
    /*font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    font-family: 'Encode Sans Semi Expanded', sans-serif;
}
h3{
    font-size: 1.1em;
    /*font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    font-family: 'Encode Sans Semi Expanded', sans-serif;
}
h2{
    font-size: 0.9em;
    /*font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    font-family: 'Encode Sans Semi Expanded', sans-serif;
}
h1{
    font-size: 2em;
    /*font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    font-family: 'Encode Sans Semi Expanded', sans-serif;
}

.Listado{
    font-size: 1.0em;
    font-family: cursive;
}

#HipervinculoTitulo{
    color: #44a0ee!important;
}

a:link {
    /*color: #44a0ee!important;*/
    font-family:fantasy;
}
a:visited {
    color:aqua;
}
a:hover {
    color:coral;
}

 /* class="Caja" */
.Caja{
    width: 400px;
    height: 200px;
    /* gradiente*/
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(56,93,97,1) 45%, rgba(0,212,255,1) 100%);
    /* Sombra de la Caja: Parametros EjeY, EjeX, desenfoque y Color*/
    box-shadow: 11px 13px 15px 4px rgba(43, 53, 94, 0.65);
    -webkit-box-shadow: 11px 13px 15px 4px rgba(43, 53, 94, 0.65);
    -moz-box-shadow: 11px 13px 15px 4px rgba(43, 53, 94, 0.65);
}

.Foto{
    border: 20px double #0f487d;
    border-radius: 190px 190px 190px 190px;
    /* Sombra de la Caja: Parametros EjeY, EjeX, desenfoque y Color*/
    box-shadow: 11px 13px 15px 4px rgba(43, 53, 94, 0.65);
    -webkit-box-shadow: 11px 13px 15px 4px rgba(43, 53, 94, 0.65);
    -moz-box-shadow: 11px 13px 15px 4px rgba(43, 53, 94, 0.65);
}

.Texto{
    background-color: grey;
    padding: 10px;
    column-count: 3;
    column-gap: 20px;
    column-rule: 2px solid white;
}