body{
    background-color: black;
    font-style: normal; color: beige;
}

p{
    font-size: 1em;
    /*font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    font-family: 'Encode Sans Semi Expanded', sans-serif;
}


h5{
    font-size: 1.5em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}
h4{
    font-size: 1.3em;
    /*font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    font-family: 'Encode Sans Semi Expanded', sans-serif;
}
h3{
    font-size: 1.1em;
    /*font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    font-family: 'Encode Sans Semi Expanded', sans-serif;
}
h2{
    font-size: 0.9em;
    /*font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    font-family: 'Encode Sans Semi Expanded', sans-serif;
}
h1{
    font-size: 2em;
    /*font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    font-family: 'Encode Sans Semi Expanded', sans-serif;
}

.Contenedor1{
    height: 300px;
    width: 300px;
    background-color: darkcyan;
    /* display: inline-flex;  /*Ajusta el contenedor al ancho segun cantida de elementos en linea
    /* display: flex; Ancho del Contenedor Flexible en linea*/ 
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

.Contenedor2{
    height: 300px;
    width: 300px;
    background-color: darkcyan;
    display: inline-flex;  
    flex-direction: row-reverse;
    align-items: center;
}

.Contenedor3{
    height: 100px;
    width: 500px;
    background-color: darkcyan;
    
    display: inline-flex;
    justify-content: space-between;
}

 /* class="Item" */
.Item1{
    width: 100px;
    height: 100px;
    background-color: darkslateblue;
    font-size: 30px;


    display: flex;
    justify-content: center;
    align-items: center;
}

.Item2{
    width: 100px;
    height: 100px;
    background-color: darkslateblue;
    font-size: 30px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.Item3{
    width: 100px;
    height: 100px;
    background-color: darkslateblue;
    font-size: 30px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.Texto{
    background-color: grey;
    padding: 10px;
    column-count: 3;
    column-gap: 20px;
    column-rule: 2px solid white;
}