/* HOME INICIO */

.bienvenidos {
    width: 100%;
    padding-left: 50px;
    box-sizing: border-box;
    overflow: hidden;
}

.Reproductor {
	background: #F1F2C0;
/*	float: left; */
	margin: 0 0 0 25px;
	width: 600px;
}
/*
.Listado {
	background: #620f96;
	float: left;
	width: 350px;
}
*/
.bienvenidos p {
    font-size: 18px;
}

.testimonios {
    width: 25%;
    padding-right: 10px;
    box-sizing: border-box;

}

.testimonio {
    background-color: gray;
    padding: 16px;
}

.testimonio .cita {
    font-weight: bold;
    font-style: italic;
    font-size: 22px;
    background-color: yellow;
    display: block;
}
.testimonio .autor {
    font-size: 10px;
    background-color: cornflowerblue;
    display: block;
    margin: 12px 0;
    text-align: center;
}
.columnas {
    display: flex;
    justify-content: space-between;
}
/* HOME FIN */