/* HOME INICIO */

.bienvenidos {
    width: 90%;
    padding-left: 50px;
    box-sizing: border-box;
    overflow: hidden;
}

.Reproductor {
/*	float: left; */
    background: none;  
	width: 500px;
    height: 300px;
    border:none;

}
.buscador {
    width: auto;
    background: #6da9ed;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    color: white;
    font-size: 16px;
    padding: 6px 20px;
}
/*
.Listado {
	background: #620f96;
	float: left;
	width: 350px;
}
*/
.bienvenidos p {
    font-size: 18px;
}

.testimonios {
    width: 25%;
    padding-right: 10px;
    box-sizing: border-box;

}

.testimonio {
    background-color: gray;
    padding: 16px;
}

.testimonio .cita {
    font-weight: bold;
    font-style: italic;
    font-size: 22px;
    background-color: yellow;
    display: block;
}
.testimonio .autor {
    font-size: 10px;
    background-color: cornflowerblue;
    display: block;
    margin: 12px 0;
    text-align: center;
}
.columnas {
    display: flex;
    justify-content: space-between;
}
/* HOME FIN */